html > body {
  margin: 0 !important;
}

.main-section {
  padding: 1rem 1rem;
}

.title {
  font-size: 2rem;
  font-weight: 600;
  line-height: 1.125;
  word-break: break-word;
}
.sub-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
  word-break: break-word;
}

.main-menu {
  margin: 20px;
}

header {
  font-weight: bold;
  font-family: Arial;
  span {
    letter-spacing: 0px;
    &.brand-first {
      color: #fff;
    }
    &.brand-second {
      color: #ccc;
    }
    &.brand-third {
      color: $typescript-light;
    }
  }
  .navbar-item.nav-home {
    border: 3px solid transparent;
    border-radius: 0%;
    &:hover {
      border-right: 3px solid $primary-light;
      border-left: 3px solid $primary-light;
    }
  }
  .fab {
    font-size: 24px;
    &.js-logo {
      color: $javascript;
    }
  }
  .buttons {
    i.fab {
      color: #fff;
      margin-left: 20px;
      margin-right: 10px;
      &:hover {
        color: $primary;
      }
    }
  }
}

.content-title-group {
  margin-bottom: 16px;
  h2 {
    border-left: 16px solid $primary;
    border-bottom: 2px solid $primary;
    padding-left: 8px;
    padding-right: 16px;
    display: inline-block;
    text-transform: uppercase;
    color: #555;
    letter-spacing: 0px;
    &:hover {
      color: $link;
    }
  }
}

button.button {
  border: 0;
  color: $accent-color;
  &:hover {
    color: $typescript; //$link;
  }
}

div.card-content {
  background-color: $shade-light;
  color: #999;
  .card-name {
    font-size: 24px;
    color: #000;
    padding-right: 20px;
  }
  .card-id {
    font-size: 20px;
    padding-right: 20px;
  }
  .card-icon {
    padding-right: 20px;
  }
  background-color: $shade-light;
}
.card {
  margin-bottom: 1em;
  width: 400px;
}

p.card-header-title {
  background-color: $primary;
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #fff;
  display: block;
  padding-left: 24px;
}

.navbar {
  margin-right: -6px;
}

#message-box {
  margin: 2em;
  > * {
    padding: 12px;
  }
}

nav .field select {
  width: 150px;
}

.modal-card {
  width: 400px;
}
.modal-card-foot button {
  display: inline-block;
  width: 80px;
}

.modal-card-head,
.modal-card-body {
  text-align: center;
}

.message-body {
  white-space: pre;
}

.progress {
  margin: 16px 0;
}

.button-bar {
  margin: 16px 0;
}
